body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(82, 82, 82);
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 1;
  justify-content: spacebetween;
  align-items: center;
}
- .navbar a {
  color: aqua;
  text-decoration: none;
  margin-right: 10px;
}

.navbar a:hover {
  color: white;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul {
  list-style-type: none;
  padding-right: 20px;
}

.navbar img {
  width: 130px;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar h2 {
  margin-right: 500px;
  color: rgb(206, 223, 226);
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.main-container {
  margin-top: 110px;
  display: flex;
}

.content-container {
  display: flex;
}

.content-container img {
  width: 50vw;
  height: auto;
}

.text-container {
  border: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
  margin-left: 20px;
  text-align: left;
}

.text-container button {
  width: 100%;
  margin-bottom: 10px;
}
footer {
  text-align: center;
  font-style: italic;
}
